.App {
    margin-top: 15px;
  }
  
  .App .navbar-brand {
    font-weight: bold;
  }
  
  .App .navbar {
    margin-bottom: 20px;
  }

  .App .navbar-header {
    background-color: #F16E10;
  }
  
  body { 
    padding-top: 55px;
  }
  
  .App .AppCon {
    width: 100%;
  }
  
  